<!-- <div class="loadingCon" id="loadingCon-1">
  <div id="cssload-loader">
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
    <div class="cssload-dot"></div>
  </div>
</div> -->
<div class="footer">© Tam Thanh Tran 2015</div>
