<!-- © Tam Thanh Tran 2015 -->
<div class="navigator-top">
  <div class="top-menu-for-devices" id="desktop-menu">
    <a href="/" class="title-navigator-top">Tam Thanh Tran</a>
    <div class="menu-holder-top">
      <ul class="ch-grid">
        <li>
            <div class="ch-item" id="about">
              <div class="ch-ori">
                About
              </div>
              <div class="ch-info">
                <p>Find out who I am</p>
              </div>
            </div>
        </li>
        <li>
            <div class="ch-item" id="portfolio">
              <div class="ch-ori">
                Portfolio
              </div>
              <div class="ch-info">
                <p>All things that I had done</p>
              </div>
            </div>
        </li>
        <li>
            <div class="ch-item" id="activities">
              <div class="ch-ori">
                Activities
              </div>
              <div class="ch-info">
                <p>Web and other services</p>
              </div>
            </div>
        </li>
        <li>
            <div class="ch-item" id="contact">
              <div class="ch-ori">
                Contact me
              </div>
              <div class="ch-info">
                <p>Click for more means of communication</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="top-menu-for-devices" id="mobile-menu">
    <a href="/" class="title-navigator-top">Tam Thanh Tran</a>
    <div class="menu-holder-top">
      <ul class="ch-grid">
        <li>
          <div id="menu-expanding">
            <div id="menu-text">Menu</div>
          </div>
        </li>
        <li class="ch-item-li" id="ch-item-li-about">
            <div class="ch-item" id="about">
              <div class="ch-ori">
                About
              </div>
              <div class="ch-info">
                <p>Find out who I am</p>
              </div>
            </div>
        </li>
        <li class="ch-item-li" id="ch-item-li-portfolio">
            <div class="ch-item" id="portfolio">
              <div class="ch-ori">
                Portfolio
              </div>
              <div class="ch-info">
                <p>All things that I had done</p>
              </div>
            </div>
        </li>
        <li class="ch-item-li" id="ch-item-li-activities">
            <div class="ch-item" id="activities">
              <div class="ch-ori">
                Activities
              </div>
              <div class="ch-info">
                <p>Web and other services</p>
              </div>
            </div>
        </li>
        <li class="ch-item-li" id="ch-item-li-contact">
            <div class="ch-item" id="contact">
              <div class="ch-ori">
                Contact me
              </div>
              <div class="ch-info">
                <p>Click for more means of communication</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
