<!-- © Tam Thanh Tran 2015 -->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/style.css" rel="stylesheet">
  <script type="text/javascript" src="javascripts/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="javascripts/mainscript.js"></script>
  <script type="text/javascript" src="javascripts/device.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.unveil.js"></script>
  <title>Tam Thanh Tran</title>
</head>
