<!-- © Tam Thanh Tran 2015 -->
<div class='navigator-top'>
  <div class='top-menu-for-devices' id='desktop-menu'>
    <a href='/' class='title-navigator-top txtBig'>
        <img class="logo" src="images/Tritiscreations.png">
    </a>
    <div class='menu-holder-top'>
      <ul class='ch-grid'>
        <li>
            <div class='ch-item ch-about' id='about'>
              <div class='ch-ori txtReg'>
                About
              </div>
              <div class='ch-info'>
                <p class='txtSmaller'>Find out who I am</p>
              </div>
            </div>
        </li>
        <li>
            <div class='ch-item ch-portfolio' id='portfolio'>
              <div class='ch-ori txtReg'>
                Portfolio
              </div>
              <div class='ch-info'>
                <p class='txtSmaller'>All things that I had done</p>
              </div>
            </div>
        </li>
        <li>
            <div class='ch-item ch-activities' id='activities'>
              <div class='ch-ori txtReg'>
                Activities
              </div>
              <div class='ch-info'>
                <p class='txtSmaller'>Web and other services</p>
              </div>
            </div>
        </li>
        <li>
            <div class='ch-item ch-contact' id='contact'>
              <div class='ch-ori txtReg'>
                Contact me
              </div>
              <div class='ch-info'>
                <p class='txtSmaller'>More means of communication</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>

  <div class='top-menu-for-devices' id='mobile-menu'>
    <a href='/' class='title-navigator-top txtBig'>
        <img class="logo" src="images/Tritiscreations.png">
    </a>
    <div class='menu-holder-top'>
      <ul class='ch-grid'>
        <li>
          <div id='menu-expanding'>
            <div class='mtxtMed' id='menu-text'>MENU</div>
          </div>
        </li>
        <li class='ch-item-li' id='ch-item-li-about'>
            <div class='ch-item ch-about' id='about'>
              <div class='ch-ori mtxtMed'>
                About
              </div>
              <div class='ch-info'>
                <p class='mtxtReg'>Find out who I am</p>
              </div>
            </div>
        </li>
        <li class='ch-item-li' id='ch-item-li-portfolio'>
            <div class='ch-item ch-portfolio' id='portfolio'>
              <div class='ch-ori mtxtMed'>
                Portfolio
              </div>
              <div class='ch-info'>
                <p class='mtxtReg'>All things that I had done</p>
              </div>
            </div>
        </li>
        <li class='ch-item-li' id='ch-item-li-activities'>
            <div class='ch-item ch-activities' id='activities'>
              <div class='ch-ori mtxtMed'>
                Activities
              </div>
              <div class='ch-info'>
                <p class='mtxtReg'>Web and other services</p>
              </div>
            </div>
        </li>
        <li class='ch-item-li' id='ch-item-li-contact'>
            <div class='ch-item ch-contact' id='contact'>
              <div class='ch-ori mtxtMed'>
                Contact me
              </div>
              <div class='ch-info'>
                <p class='mtxtReg'>More means of communication</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
