<!-- © Tam Thanh Tran 2015 -->
<div class='navigator-top'>
  <div class='top-menu-for-devices' id='desktop-menu'>
    <a href='/' class='title-navigator-top txt50'>Tam Thanh Tran</a>
    <div class='menu-holder-top'>
      <ul class='ch-grid'>
        <li>
            <div class='ch-item ch-about' id='about'>
              <div class='ch-ori txt30'>
                About
              </div>
              <div class='ch-info'>
                <p class='txt20'>Find out who I am</p>
              </div>
            </div>
        </li>
        <li>
            <div class='ch-item ch-portfolio' id='portfolio'>
              <div class='ch-ori txt30'>
                Portfolio
              </div>
              <div class='ch-info'>
                <p class='txt20'>All things that I had done</p>
              </div>
            </div>
        </li>
        <li>
            <div class='ch-item ch-activities' id='activities'>
              <div class='ch-ori txt30'>
                Activities
              </div>
              <div class='ch-info'>
                <p class='txt20'>Web and other services</p>
              </div>
            </div>
        </li>
        <li>
            <div class='ch-item ch-contact' id='contact'>
              <div class='ch-ori txt30'>
                Contact me
              </div>
              <div class='ch-info'>
                <p class='txt20'>More means of communication</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>

  <div class='top-menu-for-devices' id='mobile-menu'>
    <a href='/' class='title-navigator-top txt60'>Tam Thanh Tran</a>
    <div class='menu-holder-top'>
      <ul class='ch-grid'>
        <li>
          <div id='menu-expanding'>
            <div class='txt50' id='menu-text'>Menu</div>
          </div>
        </li>
        <li class='ch-item-li' id='ch-item-li-about'>
            <div class='ch-item ch-about' id='about'>
              <div class='ch-ori txt50'>
                About
              </div>
              <div class='ch-info'>
                <p class='txt40'>Find out who I am</p>
              </div>
            </div>
        </li>
        <li class='ch-item-li' id='ch-item-li-portfolio'>
            <div class='ch-item ch-portfolio' id='portfolio'>
              <div class='ch-ori txt50'>
                Portfolio
              </div>
              <div class='ch-info'>
                <p class='txt40'>All things that I had done</p>
              </div>
            </div>
        </li>
        <li class='ch-item-li' id='ch-item-li-activities'>
            <div class='ch-item ch-activities' id='activities'>
              <div class='ch-ori txt50'>
                Activities
              </div>
              <div class='ch-info'>
                <p class='txt40'>Web and other services</p>
              </div>
            </div>
        </li>
        <li class='ch-item-li' id='ch-item-li-contact'>
            <div class='ch-item ch-contact' id='contact'>
              <div class='ch-ori txt50'>
                Contact me
              </div>
              <div class='ch-info'>
                <p class='txt40'>More means of communication</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
