<!-- © Tam Thanh Tran 2015 -->
<!-- Activities page -->
  <div class="main-container" id="main-container-activities">
    <span class="txtBig mtxtBig main-title">Current activities</span>
    <div class="container-entries">
      <div class="activities-entry-wrapper activities-entry" id="activities-entry-1">
        <div class="activities-entry-background"></div>
        <div class="activities-entry-image-holder">
          <div class="image-wrapper">
            <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/act-phoAlb.png">
          </div>
        </div>
        <div class="activities-entry-description-holder">
          <span class="activities-entry-title txtMed mtxtSmaller">Photo Albums</span>
        </div>
      </div>

      <div class="activities-entry-wrapper activities-entry" id="activities-entry-2">
        <div class="activities-entry-background"></div>
        <div class="activities-entry-image-holder">
          <div class="image-wrapper">
            <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/act-noteBook.png">
          </div>
        </div>
        <div class="activities-entry-description-holder">
          <span class="activities-entry-title txtMed mtxtSmaller">Notebook</span>
        </div>
      </div>

      <div class="activities-entry-wrapper activities-entry" id="activities-entry-2">
        <div class="activities-entry-background"></div>
        <div class="activities-entry-image-holder">
          <div class="image-wrapper">
            <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/act-curProjects.png">
          </div>
        </div>
        <div class="activities-entry-description-holder">
          <span class="activities-entry-title txtMed mtxtReg">Current Projects</span>
        </div>
      </div>

      <div class="activities-entry-wrapper activities-entry" id="activities-entry-3">
        <div class="activities-entry-background"></div>
        <div class="activities-entry-image-holder">
          <div class="image-wrapper">
            <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/act-learning.png">
          </div>
        </div>
        <div class="activities-entry-description-holder">
          <span class="activities-entry-title txtMed mtxtSmaller">English Learning</span>
        </div>
      </div>

      <div class="activities-entry-wrapper activities-entry" id="activities-entry-3">
        <div class="activities-entry-background"></div>
        <div class="activities-entry-image-holder">
          <div class="image-wrapper">
            <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/act-services.png">
          </div>
        </div>
        <div class="activities-entry-description-holder">
          <span class="activities-entry-title txtMed mtxtReg">Services</span>
        </div>
      </div>

      <!-- <div class="activities-entry-wrapper activities-entry" id="activities-entry-3">
        <div class="activities-entry-background"></div>
        <div class="activities-entry-image-holder">
          <div class="image-wrapper">
            <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/act-services.png">
          </div>
        </div>
        <div class="activities-entry-description-holder">
          <span class="activities-entry-title txtMed mtxtReg">Automation</span>
        </div>
      </div> -->

      <div class="activities-entry-wrapper activities-entry" id="activities-entry-3">
        <div class="activities-entry-background"></div>
        <div class="activities-entry-image-holder">
          <div class="image-wrapper">
            <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/act-news.png">
          </div>
        </div>
        <div class="activities-entry-description-holder">
          <span class="activities-entry-title txtMed mtxtSmaller">News</span>
        </div>
      </div>

    </div>
  </div>
