<!-- © Tam Thanh Tran 2015 -->
  <div class="main-container" id="main-container-about">
    <h1>About me</h1>
    <div class="content-text content-text-about">
      <p>Hey mate, are you alright? My name is Tam, Tam T. Tran. Welcome to my website!</p>
      <p>I am</p>
      <ul>
        <li>A programmer: I experienced a lot of languages, plaforms and many frameworks. Programming is a way to tweak things, twist things, and put things up together to create new, fresh outcomes that I want, and adapt to my personal taste.</li>
        <li>A designer: I like designing graphically (UI) and interactionally (UX). I'm not an artist though, so don't expect any artistic, breath-taking, realistic or illusory
        product from me. I focus on clean, clear, informative yet concise interface, and stuck out, unique, entertaining and convenient solutions for better user experience.</li>
      </ul>
      <p>I love reading on my Kindle e-reader, playing games on my 3DS, and traveling. To date, I have visited 11 countries, including my home country: Vietnam, Malaysia, Singapore, United Kingdom (Scotland, England, Wales), France, Italia, Gemany, Czech, Austria, Greece, Bulgaria. There are so many more places on my list. And I'll keep going.</p>
      <p>Take a look at my CV nearby and tell me you don't want me ;)</p>
      <a href="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/My+CV.pdf" download="TamThanhTran.CV.pdf"><div class="button" id="button-cv-pdf">Click to download PDF</div></a>
    </div>
    <div class="content-image" id="cv-image-container">
      <img class="thumbnail-image" id="cv-image" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/My+CV+low-resolution.jpg"></img>
      <div class="image-description">Click on the image to zoom or</div>
      <a href="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/My+CV.jpg" download="TamThanhTran.CV.jpg"><div class="button" id="button-cv">Click to download</div></a>
    </div>
  </div>
