<!-- © Tam Thanh Tran 2015 -->
<div class="main-container" id="main-container-contact">
  <h1>Contact me</h1>
  <div class="content-text content-text-contact">Let's keep in touch</div>
  <div class="contact-holder-sections">
    <a href="http://fb.com/blues4692" target="blank">
      <div class="contact-section">
        <img class="contact-miniicon" src="images/contact-icon-facebook.png">
        <div class="contact-description">
          FB.com/blues4692
        </div>
      </div>
    </a>
    <a href="http://instagram.com/xitrum4692" target="blank">
      <div class="contact-section">
        <img class="contact-miniicon" src="images/contact-icon-instagram.png">
        <div class="contact-description">
          Instagram.com/xitrum4692
        </div>
      </div>
    </a>
    <a href="skype:xitrum4692?chat">
      <div class="contact-section">
        <img class="contact-miniicon" src="images/contact-icon-skype.png">
        <div class="contact-description">
          Skype: xitrum4692
        </div>
      </div>
    </a>
    <div class="contact-section">
      <img class="contact-miniicon" src="images/contact-icon-phone.png">
      <div class="contact-description">+44 7447 825 258</div>
    </div>
    <div class="contact-section">
      <img class="contact-miniicon" src="images/contact-icon-email.png">
      <div class="contact-description">Email: tamtt4692@gmail.com</div>
    </div>
  </div>
</div>
