<!-- © Tam Thanh Tran 2015 -->
<div class="main-container" id="main-container-contact">
  <span class="txtBig mtxtBig main-title">Contact me</span>
  <div class="content-text content-text-contact txtReg mtxtReg">Let's keep in touch</div>
  <div class="contact-holder-sections">
    <div class="contact-3-section">
      <a href="mailto:tamtt4692@gmail.com">
        <div class="contact-section">
          <div class="image-wrapper">
            <img class="contact-miniicon lazy" data-src="images/contact-icon-email.png">
          </div>
          <div class="contact-description txtSmaller mtxtReg">tamtt4692@gmail.com</div>
        </div>
      </a>
      <a href="tel:+447447825258">
        <div class="contact-section">
          <div class="image-wrapper">
            <img class="contact-miniicon lazy" data-src="images/contact-icon-phone.png">
          </div>
          <div class="contact-description txtSmaller mtxtReg">+84 97 96 97 179</div>
        </div>
      </a>
      <a href="skype:xitrum4692?chat">
        <div class="contact-section">
          <div class="image-wrapper">
            <img class="contact-miniicon lazy" data-src="images/contact-icon-skype.png">
          </div>
          <div class="contact-description txtSmaller mtxtReg">
            Skype: xitrum4692
          </div>
        </div>
      </a>
      <a href="https://vn.linkedin.com/in/tam-tran-55b5aa107" target="blank">
        <div class="contact-section">
          <div class="image-wrapper">
            <img class="contact-miniicon lazy" data-src="images/contact-icon-linkedin.png">
          </div>
          <div class="contact-description txtSmaller mtxtReg">
            LinkedIn.com
          </div>
        </div>
      </a>
    </div>

    <div class="contact-3-section">
      <a href="http://instagram.com/xitrum4692" target="blank">
        <div class="contact-section">
          <div class="image-wrapper">
            <img class="contact-miniicon lazy" data-src="images/contact-icon-instagram.png">
          </div>
          <div class="contact-description txtSmaller mtxtReg">
            instagr.am/xitrum4692
          </div>
        </div>
      </a>
      <a href="http://fb.com/blues4692" target="blank">
        <div class="contact-section">
          <div class="image-wrapper">
            <img class="contact-miniicon lazy" data-src="images/contact-icon-facebook.png">
          </div>
          <div class="contact-description txtSmaller mtxtReg">
            fb.com/blues4692
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
