<!-- © Tam Thanh Tran 2015 -->
<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
  <script>
  </script>
  <% include ./partials/header %>
  <div id="innerBody">
    <div class="banner-holder" id="banner1"></div>
  </div>
  <% include ./partials/footer %>
</body>
</html>
