<!-- © Tam Thanh Tran 2015 -->
<div class="main-container" id="main-container-portfolio">
  <h1>My portfolio</h1>
  <div class="portfolio-entries">
    <div class="portfolio-entry" id="portfolio-entry-1">
      <div class="content-image content-image-portfolio">
        <img class="event-avatar" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/CloudController-noframe.PNG">
      </div>
      <div class="content-text content-text-portfolio">
        <h2>Cloud Controller</h2>
        <p>An interaction system that give you access of your personal online/offline storage from a mobile application and actively share/transfer/manipulate your data on any other devices without the need of authentication and veryfication. Everything is in your control.</p>
      </div>
    </div>
    <div class="portfolio-entry" id="portfolio-entry-2">
      <div class="content-image content-image-portfolio">
        <img class="event-avatar" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/City+in+the+bottle.jpg">
      </div>
      <div class="content-text content-text-portfolio">
        <h2>The city in a bottle</h2>
        <p>This is my attempt to create a 3D, interactive, and animated model using OpenGL in Java. A part of a city is exhibited inside a transparent bottle which is placed in a table. The city has buildings, trees (bushes to be exact), roads, sidewalks, lamp posts, and there is a train running around the peripheral.</p>
      </div>
    </div>
  </div>
</div>
