<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="javascripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript">
      $( document ).ready(function() {
        $(".banner").css("width", $(document).width());
      });
    </script>
  </head>
  <body>
    <h1><%=title %></h1>
  </body>
</html>
