/*© Tam Thanh Tran 2015*/
@import url('https://fonts.googleapis.com/css?family=Dosis:600');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&subset=latin-ext');
html {
  /*height: 100%;*/
  box-sizing: border-box;
  /*Prevent contetn from resizinf when the scrollbar appears*/
  width: 100vw;
  overflow-x:hidden;
}
body {
  display: table;
  position: relative;
  margin: 0;
  /*padding-bottom: 52px;*/
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Dosis', sans-serif;
  background-color: rgba(215,218,219, 1);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #000000;
  text-decoration: none;
}

h1 {
  padding: 20px 50px 20px 100px;
  text-align: left;
  font-size: 40px;
}

.navigator-top {
  display: table;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
}
.top-menu-for-devices {
  display: table;
  width: 100%;
  height: 100%;
}

.title-navigator-top {
  display: table-cell;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: RGBA(255, 255, 255, 1);
  vertical-align: middle;
  /*margin-left: 10px;*/
}

.menu-holder-top {
  display: table-cell;
  vertical-align: middle;
  /*height: 100%;*/
}

/*Desktop Nav*/
#desktop-menu .title-navigator-top {
  width: 30%;
  /*padding: 4% 0%;*/
  font-size: 40px;
}
#desktop-menu .menu-holder-top {
  width: 65%;
  /*height: 100%;*/
}

/*Mobile Nav*/
#mobile-menu .title-navigator-top {
  width: 55%;
  /*padding: 4% 0%;*/
  font-size: 60px;
}

#mobile-menu .menu-holder-top {
  width: 50%;
  /*height: 100%;*/
}

#menu-expanding {
  position: relative;
  display: table;
	width: 100%;
	height: 100%;
  font-size: 45px;
  cursor: pointer;
  text-align: center;
}
#menu-text {
  display: table-cell;
  color: white;
  /*color: RGBA(112,188,217,1.00);*/
  vertical-align: middle;
}

/*----Header and Hovering effect------------------------------------------------------------*/
/*Initiate*/
.ch-grid {
	/*margin: 0 0 0 0;*/
	/*padding: 0;*/
	list-style: none;
	display: inline-block;
	text-align: center;
	width: 100%;
  /*height: 100%;*/
}

/*.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}*/

/*.ch-grid:after {
	clear: both;
}*/

.header-divider {
  display: inline-block;
  width: 48%;
}

.ch-grid li {
  position: relative;
	display: inline-block;
	margin: 0px 5px;
  padding: 0px 2px;
}

#desktop-menu .ch-grid li {
	width: 23%;
  min-width: 150px;
  /*min-height: 40px;*/
	height: 100px;
}

#mobile-menu .ch-grid li {
	width: 80%;
  min-width: 200px;
  /*min-height: 40px;*/
	height: 150px;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
 body {
 /*background: red;*/
 }
}

/*the box shadow that has one more value line*/
.ch-item {
  position: relative;
  display: table;
	width: 100%;
	height: 100%;
	transition: all 0.4s ease-in-out;
  cursor: pointer;
}

#desktop-menu .ch-item {
  background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
	box-shadow:
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 1px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-ori {
	opacity: 0;
	transform: scale(0);
}

.ch-ori {
  display: table-cell;
  vertical-align: middle;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	overflow: hidden;
	opacity: 1;
	transition: all 0.4s ease-in-out;
	transform: scale(1);
	/*backface-visibility: hidden;*/
  color: #fff;
	text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2vw;
  padding: 0 5px;
  text-align: center;
  /*text-shadow:
    0 0 1px #fff,
    0 1px 2px rgba(0,0,0,0.3);*/
}

#mobile-menu .ch-ori {
  font-size: 50px;
}

/*The description will be scaled down again*/
.ch-info {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

/*let’s style the typographical elements*/
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 40px 0 0 0;
	height: 50%;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  display: table-cell;
  vertical-align: middle;
	color: #fff;
	padding: 0 20px;
	font-style: italic;
	margin: 0 30px;
	font-size: 1.3vw;
	/*border-top: 1px solid rgba(255,255,255,0.5);*/
}

#mobile-menu .ch-info p {
  font-size: 30px;
}

.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

/*animate the inset box shadow (the reddish one) */
/*to 110px spread radius. This will cover all the circle*/
.ch-item:hover {
	box-shadow:
		inset 0 0 0 0px rgba(200,95,66, 0.4),
		inset 0 0 0 1px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

/*we’ll scale up the description and fade it in:*/
.ch-item:hover .ch-info {
	opacity: 1;
	transform: scale(1);
}

/*----End hovering effect--------------------------------------------------------*/

.banner-holder {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-repeat: no-repeat;
}

.banner-holder span.hover {
  float: left;
  background-repeat: no-repeat;
}

.content-container {
  display: block;
  position: relative;
  /*position: absolute;*/
  background-color: rgba(215,218,219, 1);
  border-top: 1px solid RGBA(255, 255, 255, 0.6);
  /*border-radius: 2px;*/
  padding-bottom: 52px;
}

.main-container {
  display: block;
  padding-left: 50px;
}

.content-text {
  display: inline-block;
  vertical-align: top;
}

.content-image {
  display: inline-block;
  text-align: center;
}

.button {
  border: 1px solid RGBA(45,62,79, 0.6);
  border-radius: 3px;
  padding: 5px 0px;
  text-align: center;
  cursor: pointer;
}

/*About page*/
.content-text-about {
  padding: 0px 100px;
  width: 70%;
}
#cv-image-container {
  width: 25%;
}
#cv-image {
  width: 80%;
}
#cv-image-container .image-description {
  display: inline-block;
  width: 45%;
}
#button-cv  {
  display: inline-block;
  width: 30%;
}
#button-cv-pdf  {
  display: inline-block;
  width: 30%;
}

/*Portfolio page*/
/*Close button*/
.button-close-wrapper {
  display: table;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
}
.button-close-wrapper:hover {
  background-color: #FFF;
}
.button-close {
  display: table-cell;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.button-close:before, .button-close:after {
  position: absolute;
  left: 18px;
  content: ' ';
  height: 40px;
  width: 4px;
  background-color: RGB(45,62,79);
}
.button-close:before {
  transform: rotate(45deg);
}
.button-close:after {
  transform: rotate(-45deg);
}

.popupContent {
  opacity: 0;
  /*background-color: RGB(112,188,217);*/
  /*border: 1px solid RGBA(223,225,226, 0.6);*/
  border-radius: 3px;
  z-index: 4;
}

#portfolio-main-container {
  width: 100%;
  height: 100%;
}

.portfolio-entries {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.portfolio-entry {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 47%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: RGB(112,188,217);
  cursor: pointer;
}
.content-image-portfolio {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}
.content-text-portfolio {
  color: RGB(255,255,255);
  text-align: left;
  padding: 10px 30px;
  width: 55%;
}
.event-avatar {
  display: block;
  width: 100%;
}

/*Portfolio entries*/
.portfolio-container {
  display: inline-block;
}

/*Portfolio 1*/
#popupContent-portfolio-entry-1 .portfolio-container {
  height: 100%;
  vertical-align: top;
}
#popupContent-portfolio-entry-1 #portfolio-main-container {
  color: rgb(255, 255, 255);
}

#popupContent-portfolio-entry-1 {
  background-color: RGB(112,188,217);
}

#portfolio-1-left {
  width: 30%;
}
#portfolio-1-right {
  width: 68%;
}
#portfolio-1-title {
  text-transform: uppercase;
  font-size: 50px;
}
#portfolio-1-upper-subtitle {
  font-size: 15px;
}
#portfolio-1-lower-subtitle {
  /*font-size: 10px;*/
}
#portfolio-1-description {
  display: inline-block;
  vertical-align: top;
  width: 98%;
  margin-top: 60%;
}

/*Title and subtitle of each section*/
.text-title {
  padding: 20px 0 0 0;
  font-size: 30px;
  font-weight: bold;
}
.text-subtitle {
  padding: 0 0 0 0;
  font-size: 20px;
  font-weight: normal;
}

/*Section 1*/
#portfolio-1-section-1 {
  display: inline-block;
  margin: 20px;
  width: 45%;
}
.portfolio-1-section-text-type-1 {
  display: inline-block;
  vertical-align: top;
  padding-top: 15%;
  margin-left: 5%;
  width: 50%;
}
.portfolio-1-section-image {
  display: inline-block;
  width: 40%;
  margin: 10px 10px;
}
.portfolio-1-mediumthumbnail {
  display: block;
  width: 100%;
}

/*Section 2*/
#portfolio-1-section-2 {
  display: inline-block;
  margin-top: 15%;
  width: 45%;
  vertical-align: top;
}

/*Section 3*/
#portfolio-1-section-3 .portfolio-1-section-image {
  width: 30%;
  text-align: right;
}
.portfolio-1-minithumbnail {
  width: 30%;
}
.portfolio-1-section-text-type-2 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
}

/*Section 4*/
#portfolio-1-section-4 .portfolio-1-section-image {
  width: 30%;
  text-align: left;
}

.portfolio-1-section-text-type-3 {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 50%;
}

/*Portfolio entry 2*/
#popupContent-portfolio-entry-2 {
  background-color: RGB(0,0,0);
}

#popupContent-portfolio-entry-2 .portfolio-container {
  height: 100%;
  vertical-align: top;
}

#popupContent-portfolio-entry-2 #portfolio-main-container {
  color: white;
}

#portfolio-2-upper {
  display: block;
  height: 30%;
  width: 100%;
  text-align: center;
}

#portfolio-2-description {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

#portfolio-2-upper .text-subtitle {
  display: inline-block;
  width: 60%;
  margin-bottom: 20px;
}

#portfolio-2-lower {
  display: block;
  width: 100%;
}

#portfolio-2-lower-left, #portfolio-2-lower-right {
  display: inline-block;
  width: 49%;
  text-align: center;
  padding: 10px;
}

#portfolio-2-lower .portfolio-container .portfolio-1-mediumthumbnail {
  display: inline-block;
  width: 60%;
  margin: 20px auto;
}

#portfolio-2-lower .text-subtitle {
  font-size: 15px;
}

/*Contact page*/
#main-container-contact {
  display: block;
}
.content-text-contact {
  padding-left: 100px;
}
.contact-holder-sections {
  display: block;
  width: 70%;
  margin: 0 auto;
}
.contact-section {
  display: inline-block;
  width: 19%;
  margin: 10px 0px;
  min-width: 150px;
}
.contact-miniicon {
  display: block;
  margin: 0 auto;
  width: 70%;
}
.contact-description {
  display: block;
  text-align: center;
  margin: 10px auto;
}

#fullscreen-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

/*-------------------------*/
.error-title {
  font-size: 30px;
  padding-left: 150px;
}
.error-message {
  padding-left: 200px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(215,218,219,0.5);
  text-align: center;
  z-index: 1;
}

/*CSS Loading*/
/*.loading {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin: -16px 0px 0px -16px;
}*/

.loadingCon {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.0);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -150px;
}

#cssload-loader {
	position: absolute;
  width: 144px;
  height: 144px;
  top: 50%;
  left: 50%;
  margin: -72px 0px 0px -72px;
}
#cssload-loader .cssload-dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 72.5px;
	height: 100%;
	margin: auto;
}
#cssload-loader .cssload-dot:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 72.5px;
	height: 72.5px;
	border-radius: 100%;
	transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
}
#cssload-loader .cssload-dot:nth-child(7n+1) {
	transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
}
#cssload-loader .cssload-dot:nth-child(7n+1):before {
	background: rgb(0,255,128);
	animation: cssload-load 0.92s linear 0.12s infinite;
		-o-animation: cssload-load 0.92s linear 0.12s infinite;
		-ms-animation: cssload-load 0.92s linear 0.12s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.12s infinite;
		-moz-animation: cssload-load 0.92s linear 0.12s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+2) {
	transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
}
#cssload-loader .cssload-dot:nth-child(7n+2):before {
	background: rgb(0,255,234);
	animation: cssload-load 0.92s linear 0.23s infinite;
		-o-animation: cssload-load 0.92s linear 0.23s infinite;
		-ms-animation: cssload-load 0.92s linear 0.23s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.23s infinite;
		-moz-animation: cssload-load 0.92s linear 0.23s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+3) {
	transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
}
#cssload-loader .cssload-dot:nth-child(7n+3):before {
	background: rgb(0,170,255);
	animation: cssload-load 0.92s linear 0.35s infinite;
		-o-animation: cssload-load 0.92s linear 0.35s infinite;
		-ms-animation: cssload-load 0.92s linear 0.35s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.35s infinite;
		-moz-animation: cssload-load 0.92s linear 0.35s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+4) {
	transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
}
#cssload-loader .cssload-dot:nth-child(7n+4):before {
	background: rgb(0,64,255);
	animation: cssload-load 0.92s linear 0.46s infinite;
		-o-animation: cssload-load 0.92s linear 0.46s infinite;
		-ms-animation: cssload-load 0.92s linear 0.46s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.46s infinite;
		-moz-animation: cssload-load 0.92s linear 0.46s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+5) {
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
}
#cssload-loader .cssload-dot:nth-child(7n+5):before {
	background: rgb(42,0,255);
	animation: cssload-load 0.92s linear 0.58s infinite;
		-o-animation: cssload-load 0.92s linear 0.58s infinite;
		-ms-animation: cssload-load 0.92s linear 0.58s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.58s infinite;
		-moz-animation: cssload-load 0.92s linear 0.58s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+6) {
	transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
}
#cssload-loader .cssload-dot:nth-child(7n+6):before {
	background: rgb(149,0,255);
	animation: cssload-load 0.92s linear 0.69s infinite;
		-o-animation: cssload-load 0.92s linear 0.69s infinite;
		-ms-animation: cssload-load 0.92s linear 0.69s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.69s infinite;
		-moz-animation: cssload-load 0.92s linear 0.69s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+7) {
	transform: rotate(315deg);
}
#cssload-loader .cssload-dot:nth-child(7n+7):before {
	background: magenta;
	animation: cssload-load 0.92s linear 0.81s infinite;
		-o-animation: cssload-load 0.92s linear 0.81s infinite;
		-ms-animation: cssload-load 0.92s linear 0.81s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.81s infinite;
		-moz-animation: cssload-load 0.92s linear 0.81s infinite;
}
#cssload-loader .cssload-dot:nth-child(7n+8) {
	transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
}
#cssload-loader .cssload-dot:nth-child(7n+8):before {
	background: rgb(255,0,149);
	animation: cssload-load 0.92s linear 0.92s infinite;
		-o-animation: cssload-load 0.92s linear 0.92s infinite;
		-ms-animation: cssload-load 0.92s linear 0.92s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.92s infinite;
		-moz-animation: cssload-load 0.92s linear 0.92s infinite;
}



@keyframes cssload-load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@-o-keyframes cssload-load {
	100% {
		opacity: 0;
		-o-transform: scale(1);
	}
}

@-ms-keyframes cssload-load {
	100% {
		opacity: 0;
		-ms-transform: scale(1);
	}
}

@-webkit-keyframes cssload-load {
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes cssload-load {
	100% {
		opacity: 0;
		-moz-transform: scale(1);
	}
}

@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}
