/*© Tam Thanh Tran 2015*/
@import url('https://fonts.googleapis.com/css?family=Dosis:600');
/*font-family: 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&subset=latin-ext');
/*font-family: 'Julius Sans One', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i');
/*font-family: 'PT Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Bungee');
/*font-family: 'Bungee', cursive;*/
/*General classes declaration*/
html {
  /*height: 100%;*/
  box-sizing: border-box;
  /*Prevent content from resizing when the scrollbar appears*/
  width: 100vw;
  overflow-x:hidden;
}
body {
  display: table;
  position: relative;
  margin: 0;
  /*padding-bottom: 52px;*/
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Dosis', sans-serif;
  background-color: rgba(215,218,219, 1);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #000000;
  text-decoration: none;
}

.main-title {
  padding: 20px 50px 20px 100px;
  text-align: left;
  font-weight: bolder;
  display: block;
}

.lazy {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.content-container {
  display: block;
  position: relative;
  background-color: rgba(215,218,219, 1);
  border-top: 1px solid RGBA(255, 255, 255, 0.6);
  padding-bottom: 52px;
  min-height: 100vh;
  min-height: calc(100vh - 150px);
  min-height: -webkit-calc(100vh - 150px);
  min-height: -moz-calc(100vh - 150px);
}

.main-container {
  display: block;
  padding: 20px;
  width: 100vw;
  min-height: 100vh;
  min-height: calc(100vh - 202px);
  min-height: -webkit-calc(100vh - 202px);
  min-height: -moz-calc(100vh - 202px);
}

.content-text {
  display: inline-block;
}

.content-image {
  display: inline-block;
  text-align: center;
}

.image-wrapper {
  position: relative;
  display: table;
  vertical-align: middle;
  text-align: center;
}

.button {
  border: 1px solid RGBA(45,62,79, 0.6);
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}
/*End general classes declaration*/

/*Menu classes*/
.navigator-top {
  display: table;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  /*box-shadow: 5px 5px 2px RGBA(0,0,0,.5);*/
}
.top-menu-for-devices {
  display: table;
  width: 100%;
  height: 100%;
}

.title-navigator-top {
  display: table-cell;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  color: RGBA(255, 255, 255, 1);
  vertical-align: middle;
  /*margin-left: 10px;*/
}

.menu-holder-top {
  display: table-cell;
  vertical-align: middle;
  /*height: 100%;*/
}

/*Desktop Nav*/
#desktop-menu .title-navigator-top {
  width: 30%;
}
#desktop-menu .menu-holder-top {
  width: 65%;
  /*height: 100%;*/
}

/*Mobile Nav*/
#mobile-menu .title-navigator-top {
  width: 45%;
  /*padding: 4% 0%;*/
}

#mobile-menu .menu-holder-top {
  width: 100%;
  text-align: center;
  /*height: 100%;*/
}

#menu-expanding {
  position: relative;
  display: table;
	width: 100%;
	height: 100%;
  cursor: pointer;
  text-align: center;
}
#menu-text {
  display: table-cell;
  color: white;
  /*color: RGBA(112,188,217,1.00);*/
  vertical-align: middle;
}

/*----Header and Hovering effect------------------------------------------------------------*/
/*Initiate*/
#desktop-menu .ch-grid {
	/*margin: 0 0 0 0;*/
	/*padding: 0;*/
	list-style: none;
	display: inline-block;
	text-align: center;
	width: 100%;
  /*height: 100%;*/
}

#mobile-menu .ch-grid {
	padding: 0;
	list-style: none;
	display: inline-block;
	text-align: center;
	width: 80%;
  margin: 50px auto;
}

/*.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}*/

/*.ch-grid:after {
	clear: both;
}*/

.header-divider {
  display: inline-block;
  width: 48%;
}

.ch-grid li {
  position: relative;
	display: inline-block;
  margin: 0 auto;
  padding: 0;
}
.mobile .ch-grid li {
	display: block;
}

#desktop-menu .ch-grid li {
	width: 23%;
  min-width: 150px;
  /*min-height: 40px;*/
	height: 100px;
}

#mobile-menu .ch-grid li {
	width: 100%;
  min-width: 50px;
  /*min-height: 40px;*/
	height: 50px;
}

/*the box shadow that has one more value line*/
.ch-item {
  position: relative;
  display: table;
	width: 100%;
	height: 100%;
	transition: all 0.4s ease-in-out;
  cursor: pointer;
}

#desktop-menu .ch-item {
  /*background-color: rgba(0,0,0,0.3);
  border-radius: 2px;
	box-shadow:
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 1px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);*/
}

.ch-item:hover .ch-ori {
	opacity: 0;
	transform: scale(0);
}

.ch-ori {
  display: table-cell;
  vertical-align: middle;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	overflow: hidden;
	opacity: 1;
	transition: all 0.4s ease-in-out;
	transform: scale(1);
	/*backface-visibility: hidden;*/
  color: #fff;
	text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 5px;
  text-align: center;
  /*text-shadow:
    0 0 1px #fff,
    0 1px 2px rgba(0,0,0,0.3);*/
}

/*The description will be scaled down again*/
.ch-info {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

/*let’s style the typographical elements*/
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	margin: 0 30px;
	padding: 40px 0 0 0;
	height: 50%;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  display: table-cell;
  vertical-align: middle;
	color: #fff;
	padding: 0 20px;
	font-style: italic;
	margin: 0 30px;
	/*border-top: 1px solid rgba(255,255,255,0.5);*/
}
/*
.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
}*/

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

/*animate the inset box shadow (the reddish one) */
/*to 110px spread radius. This will cover all the circle*/
.ch-item:hover {
	box-shadow:
		inset 0 0 0 0px rgba(200,95,66, 0.4),
		inset 0 0 0 1px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

/*we’ll scale up the description and fade it in:*/
.ch-item:hover .ch-info {
	opacity: 1;
	transform: scale(1);
}

/*----End hovering effect--------------------------------------------------------*/

.banner-holder {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-repeat: no-repeat;
}

.banner-holder span.hover {
  float: left;
  background-repeat: no-repeat;
}

/*About page*/
.content-text-about {
  padding: 0px 100px;
  width: 75%;
  vertical-align: top;
  text-align: justify;
}

.mobile .content-text-about {
  padding: 5px 50px;
  width: 100%;
}

#cv-container {
  display: inline-block;
  text-align: center;
  width: 20%;
}
.mobile #cv-container {
  display: block;
  text-align: center;
  width: 100%;
  margin: 10px auto;
}
#cv-image-container {
  width: 100%;
}
#cv-image {
  width: 80%;
}
#cv-container .image-description {
  display: block;
  width: 45%;
  margin: 0 auto;
}
#button-cv  {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  margin: 5px auto;
}

/*Portfolio page*/
/*Close button*/
.button-close-wrapper {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  z-index: 5;
}
.desktop .button-close-wrapper:hover {
  background-color: #FFF;
}
.mobile .button-close-wrapper {
  background-color: #FFF;
}
.button-close {
  display: table;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.button-close:before, .button-close:after {
  position: absolute;
  display: table-cell;
  left: 15px;
  content: ' ';
  height: 40px;
  width: 10px;
  border: 2px RGBA(223,225,226,1.00) solid;
  border-radius: 2px;
  background-color: RGB(45,62,79);
}
.button-close:before {
  transform: rotate(45deg);
}
.button-close:after {
  transform: rotate(-45deg);
}

.arrow {
  position: relative;
  /*top: 0;*/
  /*left: 0;
  right: 0;
  bottom: 0;*/
  margin: auto;
  text-align: center;
  /*margin-bottom: 6px;*/
  height: 60px;
  width: 100px;
}
.arrow:before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0;
  height: 25%;
  width: 50%;
  background-color: RGBA(45,62,79,1.00);
  -webkit-transform: skew(0deg, 20deg);
  -moz-transform: skew(0deg, 20deg);
  -ms-transform: skew(0deg, 20deg);
  -o-transform: skew(0deg, 20deg);
  transform: skew(0deg, 20deg);
}
.arrow:after {
  content: '';
  position: absolute;
  bottom: 50%;
  right: 0;
  height: 25%;
  width: 51%;
  background-color: RGBA(45,62,79,1.00);
  -webkit-transform: skew(0deg, -20deg);
  -moz-transform: skew(0deg, -20deg);
  -ms-transform: skew(0deg, -20deg);
  -o-transform: skew(0deg, -20deg);
  transform: skew(0deg, -20deg);
}​
#portfolio-main-container {
  width: 100%;
  min-height: 100%;
}
.popupContent {
  opacity: 0;
  padding-bottom: 52px;
}
.popupContent .main-container {
  min-height: 100vh;
  min-height: calc(100vh - 52px);
  min-height: -webkit-calc(100vh - 52px);
  min-height: -moz-calc(100vh - 52px);
}
.portfolio-entries {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.portfolio-entry-wrapper {
  position: relative;
  display: block;
  width: 80%;
  height: 300px;
  margin: 50px auto;
  cursor: pointer;
}
.portfolio-entry-background {
  display: block;
  position: absolute;
  background-color: RGBA(112,188,217,1.00);
  width: 80%;
  height: 60%;
  top: 50px;
  left: 50px;
  box-shadow: 20px 20px 40px RGBA(0,0,0,.5);
}
.portfolio-entry-image-holder, .portfolio-entry-image-holder .image-wrapper {
  width: 300px;
  height: 300px;
}
.event-avatar {
  position: absolute;
  display: block;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 10px 10px 20px RGBA(0,0,0,.4);
}
.portfolio-entry-description-holder {
  display: inline-block;
  position: absolute;
  background-color: RGBA(255,255,255,1.00);
  width: 65%;
  /*min-width: 500px;*/
  /*height: 80%;*/
  top: 0px;
  left: 280px;
  box-shadow: 20px 20px 40px RGBA(0,0,0,.5);
  padding: 20px 20px;
  text-align: center;
}
.portfolio-entry-date {
  text-transform: capitalize;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
}
.portfolio-entry-title {
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Bungee', cursive;
  color: RGBA(45,62,79,1.00);
}
.portfolio-entry-subtitle {
  /*font-weight: lighter;*/
  color: RGBA(92,75,81,1.00);
}
.portfolio-entry-corner {
  position: absolute;
  height: 30px;
  width: 30px;
  background-image: url("../images/cornerLT.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.corner-lt {
  top: 5px;
  left: 5px;
}
.corner-rt {
  /*Flip horizontally*/
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  /**/
  top: 5px;
  right: 5px;
}
.corner-lb {
  /*Flip vertically*/
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  /**/
  bottom: 5px;
  left: 5px
}
.corner-rb {
  /*Flip horizontally and vertically at the same time*/
  -moz-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  -webkit-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
  filter: FlipH FlipV;
  -ms-filter: "FlipH" "FlipV";
  /**/
  bottom: 5px;
  right: 5px;
}


/*Portfolio entries*/
/*Portfolio 1*/
#popupContent-portfolio-entry-1 {
  background-color: RGBA(112,188,217,1.00);
}
#popupContent-portfolio-entry-1 #portfolio-main-container {
  color: rgb(255, 255, 255);
  display: table;
}
.desktop #popupContent-portfolio-entry-1 .portfolio-container {
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

.mobile #popupContent-portfolio-entry-1 .portfolio-container {
  display: block;
  width: 98%;
  margin: 0 auto;
}
.desktop #portfolio-1-left {
  vertical-align: middle;
  width: 30%;
}
.desktop #portfolio-1-right {
  width: 68%;
}
#portfolio-1-description {
  display: block;
  width: 100%;
  text-align: justify;
  padding: 60px 5px;
}
#portfolio-1-title {
  text-transform: uppercase;
  text-align: left;
}

/*Title and subtitle of each section*/
.text-title {
  padding: 20px 0 0 0;
  font-weight: bold;
}
.text-subtitle {
  padding: 0 0 0 0;
  font-weight: normal;
}

/*Section 1*/
#portfolio-1-section-1 {
  display: inline-block;
  padding: 5px;
  width: 49%;
  text-align: right;
}
.mobile #portfolio-1-section-1 {
  padding: 5px;
  width: 100%;
  margin: 0 auto;
}
.portfolio-1-section-text {
  display: inline-block;
  vertical-align: top;
  padding-top: 15%;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
#portfolio-1-lower-subtitle {
  line-height: 1;
}
.mobile .portfolio-1-section-text {
  padding: 5px;
  width: 50%;
}
.portfolio-1-section-image {
  display: inline-block;
  width: 35%;
  min-width: 120px;
  padding: 10px;
}
.portfolio-1-mediumthumbnail {
  display: block;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*Section 2*/
#portfolio-1-section-2 {
  display: inline-block;
  margin-top: 15%;
  padding: 5px;
  width: 49%;
  vertical-align: top;
  text-align: left;
}
.mobile #portfolio-1-section-2 {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
}

/*Section 3*/
#portfolio-1-section-3, #portfolio-1-section-4 {
  margin: 40px auto auto 0px;
  text-align: center;
}
#portfolio-1-section-3 .portfolio-1-section-image {
  width: 49%;
  text-align: right;
}
.portfolio-1-minithumbnail {
  width: 20%;
  max-width: 150px;
  min-width: 100px;
}
.portfolio-1-section-text-type-2 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 49%;
}

/*Section 4*/
#portfolio-1-section-4 .portfolio-1-section-image {
  width: 49%;
  text-align: left;
}

.portfolio-1-section-text-type-3 {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 49%;
}

/*Portfolio entry 2*/
#popupContent-portfolio-entry-2 {
  background-color: RGB(0,0,0);
}

#popupContent-portfolio-entry-2 .portfolio-container {
  height: 100%;
  vertical-align: top;
}

#popupContent-portfolio-entry-2 #portfolio-main-container {
  color: white;
}

#portfolio-2-upper {
  display: block;
  height: 30%;
  width: 100%;
  text-align: center;
}

#portfolio-2-description {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

#portfolio-2-upper .text-subtitle {
  display: inline-block;
  width: 60%;
  margin-bottom: 20px;
}

#portfolio-2-lower {
  display: block;
  width: 100%;
}

#portfolio-2-lower-left, #portfolio-2-lower-right {
  display: inline-block;
  width: 49%;
  text-align: center;
  padding: 10px;
}

#portfolio-2-lower .portfolio-container .portfolio-1-mediumthumbnail {
  display: inline-block;
  width: 60%;
  margin: 20px auto;
}

#portfolio-2-lower .text-subtitle {
  font-size: 15px;
}

/*Contact page*/
#main-container-contact {
  display: block;
}
.content-text-contact {
  padding-left: 100px;
}
.contact-holder-sections {
  display: block;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.contact-section {
  display: inline-block;
  width: 19%;
  margin: 10px 5px;
  padding: 5px 0;
  min-width: 200px;
  box-shadow:
		-2px 2px 10px RGBA(0,0,0,.2),
		2px -2px 10px RGBA(0,0,0,.2);
}
.contact-miniicon {
  display: block;
  margin: 0 auto;
  width: 70%;
}
.contact-description {
  display: block;
  text-align: center;
  margin: 10px auto;
}

#fullscreen-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 7;
}

/*-------------------------*/
.error-title {
  font-size: 30px;
  padding-left: 150px;
}
.error-message {
  padding-left: 200px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(215,218,219,0.5);
  text-align: center;
  z-index: 1;
}

/*CSS Loading*/
.loadingCon {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.0);
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.cssload-loader {
	position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: -15px;
  right: 0;
  bottom: 0;
  margin: auto;
}
.cssload-loader .cssload-dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	margin: auto;
}
.cssload-loader .cssload-dot:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 30px;
	height: 60px;
	border-radius: 100%;
	transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
}
.cssload-loader .cssload-dot:nth-child(7n+1) {
	transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
}
.cssload-loader .cssload-dot:nth-child(7n+1):before {
	background: rgb(0,255,128);
	animation: cssload-load 0.92s linear 0.12s infinite;
		-o-animation: cssload-load 0.92s linear 0.12s infinite;
		-ms-animation: cssload-load 0.92s linear 0.12s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.12s infinite;
		-moz-animation: cssload-load 0.92s linear 0.12s infinite;
}
.cssload-loader .cssload-dot:nth-child(7n+2) {
	transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
}
.cssload-loader .cssload-dot:nth-child(7n+2):before {
	background: rgb(0,255,234);
	animation: cssload-load 0.92s linear 0.23s infinite;
		-o-animation: cssload-load 0.92s linear 0.23s infinite;
		-ms-animation: cssload-load 0.92s linear 0.23s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.23s infinite;
		-moz-animation: cssload-load 0.92s linear 0.23s infinite;
}
.cssload-loader .cssload-dot:nth-child(7n+3) {
	transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
}
.cssload-loader .cssload-dot:nth-child(7n+3):before {
	background: rgb(0,170,255);
	animation: cssload-load 0.92s linear 0.35s infinite;
		-o-animation: cssload-load 0.92s linear 0.35s infinite;
		-ms-animation: cssload-load 0.92s linear 0.35s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.35s infinite;
		-moz-animation: cssload-load 0.92s linear 0.35s infinite;
}
.cssload-loader .cssload-dot:nth-child(7n+4) {
	transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
}
.cssload-loader .cssload-dot:nth-child(7n+4):before {
	background: rgb(0,64,255);
	animation: cssload-load 0.92s linear 0.46s infinite;
		-o-animation: cssload-load 0.92s linear 0.46s infinite;
		-ms-animation: cssload-load 0.92s linear 0.46s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.46s infinite;
		-moz-animation: cssload-load 0.92s linear 0.46s infinite;
}
.cssload-loader .cssload-dot:nth-child(7n+5) {
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
}
.cssload-loader .cssload-dot:nth-child(7n+5):before {
	background: rgb(42,0,255);
	animation: cssload-load 0.92s linear 0.58s infinite;
		-o-animation: cssload-load 0.92s linear 0.58s infinite;
		-ms-animation: cssload-load 0.92s linear 0.58s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.58s infinite;
		-moz-animation: cssload-load 0.92s linear 0.58s infinite;
}
.cssload-loader .cssload-dot:nth-child(7n+6) {
	transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
}
.cssload-loader .cssload-dot:nth-child(7n+6):before {
	background: rgb(149,0,255);
	animation: cssload-load 0.92s linear 0.69s infinite;
		-o-animation: cssload-load 0.92s linear 0.69s infinite;
		-ms-animation: cssload-load 0.92s linear 0.69s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.69s infinite;
		-moz-animation: cssload-load 0.92s linear 0.69s infinite;
}
.cssload-loader .cssload-dot:nth-child(7n+7) {
	transform: rotate(315deg);
}
.cssload-loader .cssload-dot:nth-child(7n+7):before {
	background: magenta;
	animation: cssload-load 0.92s linear 0.81s infinite;
		-o-animation: cssload-load 0.92s linear 0.81s infinite;
		-ms-animation: cssload-load 0.92s linear 0.81s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.81s infinite;
		-moz-animation: cssload-load 0.92s linear 0.81s infinite;
}
.cssload-loader .cssload-dot:nth-child(7n+8) {
	transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
}
.cssload-loader .cssload-dot:nth-child(7n+8):before {
	background: rgb(255,0,149);
	animation: cssload-load 0.92s linear 0.92s infinite;
		-o-animation: cssload-load 0.92s linear 0.92s infinite;
		-ms-animation: cssload-load 0.92s linear 0.92s infinite;
		-webkit-animation: cssload-load 0.92s linear 0.92s infinite;
		-moz-animation: cssload-load 0.92s linear 0.92s infinite;
}

@keyframes cssload-load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

@-o-keyframes cssload-load {
	100% {
		opacity: 0;
		-o-transform: scale(1);
	}
}

@-ms-keyframes cssload-load {
	100% {
		opacity: 0;
		-ms-transform: scale(1);
	}
}

@-webkit-keyframes cssload-load {
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes cssload-load {
	100% {
		opacity: 0;
		-moz-transform: scale(1);
	}
}

@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

#spinning-container {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 52px;
  text-align: center;
}
.spinner {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: RGBA(249,69,78,1.00);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce1 {
  border: 5px solid RGBA(223,225,226,1.00);
}

.double-bounce2 {
  border: 5px solid RGBA(249,69,78,1.00);
  background-color: RGBA(223,225,226,1.00);
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@-o-keyframes sk-bounce {
  0%, 100% { -o-transform: scale(0.0) }
  50% { -o-transform: scale(1.0) }
}
@-ms-keyframes sk-bounce {
  0%, 100% { -ms-transform: scale(0.0) }
  50% { -ms-transform: scale(1.0) }
}
@-moz-keyframes sk-bounce {
  0%, 100% { -moz-transform: scale(0.0) }
  50% { -moz-transform: scale(1.0) }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}

.gettingResized, .gettingTruncating {
  animation-duration: 0.001s;
  animation-name: nodeInserted;
}
/* set up the keyframes; remember to create prefixed keyframes too! */
@keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}
@-o-keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}
@-webkit-keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}
@-moz-keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}
@-ms-keyframes nodeInserted {
	from { opacity: 0.99; }
	to { opacity: 1; }
}

/*Responsive area*/
.desktop .txtGi{
  font-size: 60px;
}
.mobile .mtxtGi{
  font-size: 30px;
}

.desktop .txtBig {
  font-size: 50px;
}
.mobile .mtxtBig {
  font-size: 30px;
}

.desktop .txtMed {
  font-size: 40px;
}
.mobile .mtxtMed {
  font-size: 20px;
}

.desktop .txtReg {
  font-size: 30px;
}
.mobile .mtxtReg {
  font-size: 15px;
}

.desktop .txtSmall {
  font-size: 25px;
}
.mobile .mtxtSmall {
  font-size: 10px;
}

.desktop .txtSmaller {
  font-size: 20px;
}
.mobile .mtxtSmaller {
  font-size: 15px;
}

.desktop .txtMinor {
  font-size: 15px;
}
.mobile .mtxtMinor {
  font-size: 10px;
}

.desktop .txtTiny {
  font-size: 10px;
}
.mobile .mtxtTiny {
  font-size: 10px;
}

@media only screen and (min-width: 1920px) {
  .desktop #cv-container {
    width: 22%;
  }
  .desktop #button-cv {
    width: 50%;
  }
  .portfolio-entry-background {
    left: 150px;
  }
  .desktop .txtSmaller {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1680px) {
  .desktop .txtBig {
    font-size: 60px;
  }
  .desktop .txtReg {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .desktop .txtBig {
    font-size: 40px;
  }
  .desktop .txtReg {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .desktop .txtBig {
    font-size: 35px;
  }
  .desktop .txtReg {
    font-size: 25px;
  }
  .desktop .txtSmaller {
    font-size: 20px;
  }
  .portfolio-entries, .portfolio-entry-wrapper {
    width: 100%;
  }
  .portfolio-entry-description-holder {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .portfolio-entry-wrapper {
    height: auto;
    /*margin: 50px auto;*/
  }
  .portfolio-entry-background {
    width: 90%;
    height: 60%;
    margin: auto;
    left: 10px;
    top: 10px;
  }
  .portfolio-entry-image-holder, .portfolio-entry-image-holder .image-wrapper {
    display: block;
    margin: auto;
    width: 100%;
  }
  .portfolio-entry-description-holder {
    display: block;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 20px 20px;
  }
}

@media only screen and (min-width: 415px) {
  #button-cv-pdf  {
    display: block;
    width: 30%;
    margin: 5px auto;
  }
  .mobile .mtxtReg {
    font-size: 25px;
  }
}
@media only screen and (max-width: 414px) {
  #button-cv-pdf  {
    display: block;
    width: 90%;
    margin: 5px auto;
  }
}
