<!-- © Tam Thanh Tran 2015 -->
<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
  </div>
  <h1 class="error-title">Something went wrong....Good job mate!</h1>
  <div class="error-message"><%=message %>
    <br>
    <%=error %>
  </div>
    <% include ../partials/footer %>
  </body>
</html>
