<!-- © Tam Thanh Tran 2015 -->
<!--Portfolio 4  -->
<div class="main-container portfolio-style-1 portfolio-main-container" id="main-container-portfolio-entry-4">
  <div class="portfolio-container" id="portfolio-1-left">
    <div id="portfolio-1-description">
      <div class="txtMinor mtxtSmaller" id="portfolio-1-upper-subtitle">2014 Bachelor Capstone project</div>
      <div class="txtBig mtxtBig" id="portfolio-1-title">Jornee</div>
      <div class="txtReg mtxtReg" id="portfolio-1-lower-subtitle">Progress diary management application <i>Authors: 4T1C group</i></div>
    </div>
  </div>
  <div class="portfolio-container" id="portfolio-1-right">
    <div id="portfolio-1-section-1">
      <div class="portfolio-1-section-text">
        <div class="text-title txtReg mtxtBig">Entries and Journeys</div>
        <div class="text-subtitle txtSmaller mtxtMed">Snap for entries. Building your journey</div>
      </div>
      <div class="content-image portfolio-1-section-image">
        <div class="image-wrapper">
          <img class="thumbnail lazy" id="portfolio-1-image-1" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Entry.png"/>
        </div>
      </div>
    </div>
    <div id="portfolio-1-section-2">
      <div class="content-image portfolio-1-section-image">
        <div class="image-wrapper">
          <img class="thumbnail lazy" id="portfolio-1-image-2" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Profile.png">
        </div>
      </div>
      <div class="portfolio-1-section-text">
        <div class="text-title txtReg mtxtBig">You and Others</div>
        <div class="text-subtitle txtSmaller mtxtMed">Have a profile for yourself. Share with others</div>
      </div>
    </div>
    <!--- Section 3-4 -------------------------------------------------->
    <div id="portfolio-1-section-3">
      <div class="content-image portfolio-1-section-image">
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-3" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Locationservices1.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-4" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Locationservices2.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-5" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Locationservices3.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-6" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Locationservices4.png">
          </div>
        </div>
      </div>
      <div class="portfolio-1-section-text-type-2">
        <div class="text-title txtReg mtxtBig">Location services</div>
        <div class="text-subtitle txtSmaller mtxtMed">All of travelling needs for your itchy feet.</div>
      </div>
    </div>
    <div id="portfolio-1-section-4">
      <div class="portfolio-1-section-text-type-3">
        <div class="text-title txtReg mtxtBig">Beatiful design</div>
        <div class="text-subtitle txtSmaller mtxtMed">Nice logo and icons.</div>
      </div>
      <div class="content-image portfolio-1-section-image">
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-7" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Logo.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-8" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Camera.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-9" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Checkin.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-10" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Text.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
