<!-- © Tam Thanh Tran 2015 -->
<div class="main-container" id="main-container-portfolio">
  <span class="txtBig mtxtBig main-title">My portfolio</span>
  <div class="content-text sub-title txtReg mtxtReg">Very briefly showcase of the projects that I had done</div>
  <div class="portfolio-entries">
    <div class="portfolio-entry-wrapper portfolio-entry" id="portfolio-entry-1">
      <div class="portfolio-entry-background"></div>
      <div class="portfolio-entry-image-holder">
        <div class="image-wrapper">
          <img class="event-avatar lazy" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/CloudController-noframe.PNG">
        </div>
      </div>
      <div class="portfolio-entry-description-holder">
        <div class="portfolio-entry-corner corner-lt"></div>
        <div class="portfolio-entry-corner corner-rt"></div>
        <div class="portfolio-entry-corner corner-lb"></div>
        <div class="portfolio-entry-corner corner-rb"></div>
        <div class="portfolio-entry-date">September 2016</div>
        <h2 class="portfolio-entry-title">Cloud Controller</h2>
        <p class="portfolio-entry-subtitle gettingTruncating">An interaction system that give you access of your personal online/offline storage from a mobile application and actively share/transfer/manipulate your data on any other devices without the need of authentication and veryfication thank for the use of Beacons, real-time interaction with Websocket. Convenient and secure.</p>
      </div>
    </div>

    <!-- <div class="arrow" title="arrow"></div> -->

    <div class="portfolio-entry-wrapper portfolio-entry" id="portfolio-entry-2">
      <div class="portfolio-entry-background"></div>
      <div class="portfolio-entry-image-holder">
        <div class="image-wrapper">
          <img class="event-avatar lazy" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/City+in+the+bottle.jpg">
        </div>
      </div>
      <div class="portfolio-entry-description-holder">
        <div class="portfolio-entry-corner corner-lt"></div>
        <div class="portfolio-entry-corner corner-rt"></div>
        <div class="portfolio-entry-corner corner-lb"></div>
        <div class="portfolio-entry-corner corner-rb"></div>
        <div class="portfolio-entry-date">April 2016</div>
        <h2 class="portfolio-entry-title">The city in a bottle</h2>
        <p class="portfolio-entry-subtitle gettingTruncating">This is my attempt to create a 3D, interactive, and animated model using OpenGL in Java. A part of a city is exhibited inside a transparent bottle which is placed in a table. The city has buildings, trees (bushes to be exact), roads, sidewalks, lamp posts, and there is a train running around the peripheral.</p>
      </div>
    </div>

    <div class="portfolio-entry-wrapper portfolio-entry" id="portfolio-entry-3">
      <div class="portfolio-entry-background"></div>
      <div class="portfolio-entry-image-holder">
        <div class="image-wrapper">
          <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/NMD%20-%20Cover.png">
        </div>
      </div>
      <div class="portfolio-entry-description-holder">
        <div class="portfolio-entry-corner corner-lt"></div>
        <div class="portfolio-entry-corner corner-rt"></div>
        <div class="portfolio-entry-corner corner-lb"></div>
        <div class="portfolio-entry-corner corner-rb"></div>
        <div class="portfolio-entry-date">May 2016</div>
        <h2 class="portfolio-entry-title">Murray Leinster's author page UI</h2>
        <p class="portfolio-entry-subtitle gettingTruncating">For the coursework, I have to recreate a web page in www.gutenberg.org with an author of my choice. My selection is Murray Leinster, whose interest generally fall to science fiction. All of his works that is available in www.gutenberg.org are about outer space, with spaceships, aliens, space battle. For that reason, to be consistent with his interest of works, I design a scene with outer space theme including as much of his works as possible. My general idea is to somehow turn a book into a planet or an natural or artifactual outer-space object such as asteroids, satellites or space stations, space ships, called it a “scene”. Then, I will arrange those scenes in to a specific layout in a same picture which will be the web page’s design. Those scenes will appear as satellites of a sun, and the act of browsing the books become planets turning around the sun.</p>
      </div>
    </div>

    <div class="portfolio-entry-wrapper portfolio-entry" id="portfolio-entry-4">
      <div class="portfolio-entry-background"></div>
      <div class="portfolio-entry-image-holder">
        <div class="image-wrapper">
          <img class="event-avatar lazy" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/Jornee%20-%20Profile%20-%20noframe.png">
        </div>
      </div>
      <div class="portfolio-entry-description-holder">
        <div class="portfolio-entry-corner corner-lt"></div>
        <div class="portfolio-entry-corner corner-rt"></div>
        <div class="portfolio-entry-corner corner-lb"></div>
        <div class="portfolio-entry-corner corner-rb"></div>
        <div class="portfolio-entry-date">April 2014</div>
        <h2 class="portfolio-entry-title">Jornee: the multifunctional travel app</h2>
        <p class="portfolio-entry-subtitle gettingTruncating">Jornee records trips on the go with photos, videos, places. Jornee has many functions to help looking up all of the most basic information of a location, brings many methods to share, to interact, to socialise with other fellow travellers.</p>
      </div>
    </div>
  </div>
</div>
