<!-- © Tam Thanh Tran 2015 -->
<!--Portfolio 3  -->
<div class="main-container portfolio-style-2 portfolio-main-container" id="main-container-portfolio-entry-3">
  <div class="portfolio-container" id="portfolio-2-upper">
    <div id="portfolio-2-description">
      <div class="text-title txtBig mtxtBig" id="portfolio-2-title">Murray Leinster's author page interface</div>
      <div class="text-subtitle txtReg mtxtMed">"I was recreating a web page in www.gutenberg.org with an author of my choice. My selection is Murray Leinster, whose interest generally fall to science fiction. To be consistent with his interest of works, I design a scene with outer space theme. My general idea is to somehow turn a book into a planet or an natural or artifactual outer-space object such as asteroids, satellites or space stations, space ships, called it a “scene”." - New Media Design Coursework 2016</div>
    </div>
  </div>
  <div class="portfolio-container" id="portfolio-2-lower">
    <div class="portfolio-container" id="portfolio-2-lower-left">
      <div class="portfolio-2-lower-section">
        <div class="portfolio-2-section-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-2-image-1" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/NMD%20-%20LFprototype.jpg">
          </div>
        </div>
        <div class="text-subtitle txtReg mtxtMed">The low-fidelity design showed the initial concept and idea.</div>
      </div>
      <div class="portfolio-2-lower-section">
        <div class="portfolio-2-section-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-2-image-2" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/NMD%20-%20HFprototype2.jpg">
          </div>
        </div>
        <div class="text-subtitle txtReg mtxtMed">First of all, I need to decide what to put in the design. The name and basic information of the author are necessary. I choose to include his year of brith and dearth because the space is limited and it will not make much sense to put to much text in “space”.</div>
      </div>
    </div>
    <div class="portfolio-container" id="portfolio-2-lower-right">
      <div class="portfolio-2-lower-section">
        <div class="portfolio-2-section-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-2-image-3" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/NMD%20-%20HFprototype3.jpg">
          </div>
        </div>
        <div class="text-subtitle txtReg mtxtMed">Secondly, my solar system. I include half of a system rather than a whole, because I want to have a focused area, which is in the middle of the screen and 1/3 of the page from bottom. This position will be the scene of current book, appearing big and clear. There are 3 scenes making up the whole right side of the sun. Another more scene will tight up the design with too much details.</div>
      </div>
      <div class="portfolio-2-lower-section">
        <div class="portfolio-2-section-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-2-image-4" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/NMD%20-%20HFprototype1.jpg">
        </div>
        </div>
        <div class="text-subtitle txtReg mtxtMed">I create planets with the idea to somehow describe the book. The planets have a book on top look like it landed there. The book opens, and contents from it emerge.</br>
          - Fire planet: red-yellow colours. Suitable for the volcano, and battle aliens vs human.</br>
          - Death planet: grey colour. Suitable for alien space station, spaceships. Also an explosion in red-yellow colour make a very nice contrast.</br>
          - Green planet: green colours. Suitable for trees, bushes, and nature.</br>
        I also draw stars and use the random function to bestrew them around, making a nice universe theme.</div>
      </div>
    </div>
  </div>
</div>
