<!-- © Tam Thanh Tran 2015 -->
<div class="main-container portfolio-style-1 portfolio-main-container" id="main-container-portfolio-entry-3">
  <div class="portfolio-container" id="portfolio-1-left">
    <div id="portfolio-1-description">
      <div class="txtMinor mtxtSmaller" id="portfolio-1-upper-subtitle">2014 Bachelor Capstone project</div>
      <div class="txtBig mtxtBig" id="portfolio-1-title">Jornee</div>
      <div class="txtReg mtxtReg" id="portfolio-1-lower-subtitle">Progress diary management application - <i>Authors: 4T1C group</i></div>
    </div>
  </div>
  <span class="txtBig mtxtBig main-title">Page is under construction....</span>
  <!-- <div class="portfolio-container" id="portfolio-1-right">
    <div id="portfolio-1-section-1">
      <div class="portfolio-1-section-text">
        <div class="text-title txtReg mtxtBig">Scan and select</div>
        <div class="text-subtitle txtSmaller mtxtMed">Stay nearby the public device(s). Then choose one.</div>
      </div>
      <div class="content-image portfolio-1-section-image">
        <div class="image-wrapper">
          <img class="thumbnail lazy" id="portfolio-1-image-1" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/Scanning.png
          "/>
        </div>
      </div>
    </div>
    <div id="portfolio-1-section-2">
      <div class="content-image portfolio-1-section-image">
        <div class="image-wrapper">
          <img class="thumbnail lazy" id="portfolio-1-image-2" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/CloudController.png">
        </div>
      </div>
      <div class="portfolio-1-section-text">
        <div class="text-title txtReg mtxtBig">Tap and tap</div>
        <div class="text-subtitle txtSmaller mtxtMed">Choose a function. Then start working.</div>
      </div>
    </div> -->
    <!--- Section 3-4 -------------------------------------------------->
    <!-- <div id="portfolio-1-section-3">
      <div class="content-image portfolio-1-section-image">
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-3" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/Youtube.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-4" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/PowerPoint.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-5" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/Game.png">
          </div>
        </div>
      </div>
      <div class="portfolio-1-section-text-type-2">
        <div class="text-title txtReg mtxtBig">3rd party extensions</div>
        <div class="text-subtitle txtSmaller mtxtMed">Expandable. Extendable.</div>
      </div>
    </div>
    <div id="portfolio-1-section-4">
      <div class="portfolio-1-section-text-type-3">
        <div class="text-title txtReg mtxtBig">Internet of things ready</div>
        <div class="text-subtitle txtSmaller mtxtMed">Future proof.</div>
      </div>
      <div class="content-image portfolio-1-section-image">
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-6" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/Door.png">
          </div>
        </div>
        <div class="portfolio-1-section-3-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-1-image-7" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/Lightbulb.png">
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
