<!-- © Tam Thanh Tran 2015 -->
<div class="main-container" id="portfolio-main-container">
  <div class="portfolio-container" id="portfolio-2-upper">
    <div id="portfolio-2-description">
      <div class="text-title txtBig mtxtBig" id="portfolio-2-title">The city in the bottle</div>
      <div class="text-subtitle txtReg mtxtMed">"It should look like an exhibition in a museum. It is a glass bottle with long, small neck. Inside is a part of a city, a small corner. But with the lights, and the train moving around, everything is so lively and peaceful" - Computer Graphics Coursework 2016</div>
    </div>
  </div>
  <div class="portfolio-container" id="portfolio-2-lower">
    <div class="portfolio-container" id="portfolio-2-lower-left">
      <div class="portfolio-2-lower-section">
        <div class="portfolio-2-section-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-2-image-1" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/City+inside+a+bottle+-+1.png">
          </div>
        </div>
        <div class="text-subtitle txtReg mtxtMed">This bottle consists of 4 parts: the bottom, the body, the upper body, and the neck. Except for the bottom which was made by one polygon, these parts are a combination of rectangles to form circles.</div>
      </div>
      <div class="portfolio-2-lower-section">
        <div class="portfolio-2-section-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-2-image-2" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/City+inside+a+bottle+-+2.png">
          </div>
        </div>
        <div class="text-subtitle txtReg mtxtMed">The post light: this one is complicated with a large number of parts. It has the pole, the pedestal, the bulb holder and also a bulb, and was built using hierarchical modelling. A spotlight was used for lighting effect.</div>
      </div>
    </div>
    <div class="portfolio-container" id="portfolio-2-lower-right">
      <div class="portfolio-2-lower-section">
        <div class="portfolio-2-section-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-2-image-3" data-original="https://sidneysservices.s3.amazonaws.com/personaldocuments/The%20train.gif">
          </div>
        </div>
        <div class="text-subtitle txtReg mtxtMed">The train: This train have 3 kinds of coach - the head, the coach, and the tail which looks exactly the head but in reverse. Each coach has doors and different colour. The head and tail have a round end. This train can run around the city and turn while moving. All the coach were connected together using hierarchical modelling</div>
      </div>
      <div class="portfolio-2-lower-section">
        <div class="portfolio-2-section-image">
          <div class="image-wrapper">
            <img class="thumbnail lazy" id="portfolio-2-image-4" data-original="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/City+inside+a+bottle+-+4.png">
        </div>
        </div>
        <div class="text-subtitle txtReg mtxtMed">Everything else: the table had textured with wooden texture, the ground had pavement texture, the road, and the building which can change the number of floor and space and colour.</div>
      </div>
    </div>
  </div>
</div>
