<!-- © Tam Thanh Tran 2015 -->
<div class="main-container" id="portfolio-main-container">
  <div class="portfolio-container" id="portfolio-2-upper">
    <div id="portfolio-2-description">
      <div id="portfolio-1-title">The city in the bottle</div>
      <div class="text-subtitle">"It should look like an exhibition in a museum. It is a glass bottle with long, small neck. Inside is a part of a city, a small corner. But with the lights, and the train moving around, everything is so lively and peaceful" - Computer Graphics Coursework 2016</div>
    </div>
  </div>
  <div class="portfolio-container" id="portfolio-2-lower">
    <div class="portfolio-container" id="portfolio-2-lower-left">
      <img class="thumbnail-image portfolio-1-mediumthumbnail" id="portfolio-2-image-1" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/City+inside+a+bottle+-+1.png
      ">
      <div class="text-subtitle">This bottle consists of 4 parts: the bottom, the body, the upper body, and the neck. Except for the bottom which was made by one polygon, these parts are a combination of rectangles to form circles.</div>
      <img class="thumbnail-image portfolio-1-mediumthumbnail" id="portfolio-2-image-2" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/City+inside+a+bottle+-+2.png
      ">
      <div class="text-subtitle">The post light: this one is complicated with a large number of parts. It has the pole, the pedestal, the bulb holder and also a bulb, and was built using hierarchical modelling. A spotlight was used for lighting effect.</div>
    </div>
    <div class="portfolio-container" id="portfolio-2-lower-right">
      <img class="thumbnail-image portfolio-1-mediumthumbnail" id="portfolio-2-image-3" src="https://sidneysservices.s3.amazonaws.com/personaldocuments/The%20train.gif
      " loop=infinite>
      <div class="text-subtitle">The train: This train have 3 kinds of coach - the head, the coach, and the tail which looks exactly the head but in reverse. Each coach has door and different colour. The head and tail have a round end. This train can run around the city and turn while moving. All the coach were connected together using hierarchical modelling</div>
      <img class="thumbnail-image portfolio-1-mediumthumbnail" id="portfolio-2-image-4" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/City+inside+a+bottle+-+4.png
      ">
      <div class="text-subtitle">Everything else: the table had textured with wooden texture, the ground had pavement texture, the road, and the building which can change the number of floor and space and colour.</div>
    </div>
  </div>
</div>
