<!-- © Tam Thanh Tran 2015 -->
<div class="main-container" id="portfolio-main-container">
  <div class="portfolio-container" id="portfolio-1-left">
    <div id="portfolio-1-description">
      <div id="portfolio-1-title">Sorry this entry is still being constructed</div>
    </div>
  </div>
</div>
