<!-- © Tam Thanh Tran 2015 -->
<div class="main-container" id="portfolio-main-container">
  <div class="portfolio-container" id="portfolio-1-left">
    <div id="portfolio-1-description">
      <div id="portfolio-1-upper-subtitle">2016 MSc Disseration</div>
      <div id="portfolio-1-title">Universal Cloud Controller</div>
      <div id="portfolio-1-lower-subtitle">Abstract quote: "We engage different working environments on a daily basis, including private and public environments. When we move from one to another constantly, the data also need to be transferred, and while the private environment is convenient, working with public devices creates the irritation of authentication. This dissertation proposes Universal Cloud Controller (UCC), a multi-components system that improves user’s experience when exchange data from personal to public device. The main functions of the system are to provide a selection mechanism to eliminate the authentication, and an instantly, smoothly, and conveniently data transferring and manipulation solution between user’s personal devices and public devices." - <i>Tam Thanh Tran, 2016</i></div>
      <div id="portfolio-alert-message">Yeah, like you ever want to read that. But if you do, put your mouse over it.</div>
    </div>
  </div>
  <div class="portfolio-container" id="portfolio-1-right">
    <div id="portfolio-1-section-1">
      <div class="portfolio-1-section-text">
        <div class="text-title">Scan and select</div>
        <div class="text-subtitle">Stay nearby the public device(s). Then choose one.</div>
      </div>
      <div class="content-image portfolio-1-section-image">
        <img class="thumbnail-image" id="portfolio-1-image-1" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/Scanning.png
        "></img>
      </div>
    </div>
    <div id="portfolio-1-section-2">
      <div class="content-image portfolio-1-section-image">
        <img class="thumbnail-image" id="portfolio-1-image-2" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/CloudController.png"></img>
      </div>
      <div class="portfolio-1-section-text">
        <div class="text-title">Tap and tap</div>
        <div class="text-subtitle">Choose a function. Then start working.</div>
      </div>
    </div>
    <!-- <div id="portfolio-1-section-3">
      <div class="content-image portfolio-1-section-image">
        <img class="thumbnail-image portfolio-1-minithumbnail" id="portfolio-1-image-3" src="https://s3-us-west-2.amazonaws.com/sidneysservices/personaldocuments/Youtube.png"></img>
      </div>
      <div class="portfolio-1-section-text">
        <div class="text-title">Tap and tap</div>
        <div class="text-subtitle">Choose a function. Then start working.</div>
      </div>
    </div> -->
  </div>
</div>
